<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="centrado">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input label="Username/Email" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" labelPlacement="floating"></ion-input>
    </ion-item>
  </ion-card-content>  
  </ion-card>
</ion-content>
